<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tippy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0550FA11E31B18B0083F761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0550FB51E31B18B0083F761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0550FC01E31B18B0083F761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
